<div class="navbar">
  <div class="navbar-inner">
   <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back"></i>
       </a>
    </div>
    <div class="center sliding">Добавить пользователя</div>
    <div class="right">
    </div>
  </div>
</div>
<div class="pages">
  <div data-page="add_cardholder" class="page no-toolbar">
    <div class="page-content" data-ptr-distance="55" style="padding-bottom:0;">
          <div class="wrapper">
           <div class="caption">Карта</div>
            
            <div class="sbcard" data-id="1724065">
          	 	<img src="img/arrow-next-green.svg" class="arrow" style=" float: right; height: 20px; margin: 0; margin-top: 6px; width: 20px;">
           	 	<img src="https://sb.els24.com/assets/img/cards/681.png">
                <div class="cardnum"></div>
                <div class="tarif"></div>
            </div>
            
            <div>
                <div class="title">Фамилия</div>
                <input type="text" name="surname">
                <div class="hint">Это поле не может быть пустым</div>
            </div>
            
            <div>
                <div class="title">Имя</div>
                <input type="text" name="name">
                <div class="hint">Это поле не может быть пустым</div>
            </div>
            
            <div>
                <div class="title">Отчество</div>
                <input type="text" name="secname">
                <div class="hint">Это поле не может быть пустым</div>
            </div>
            
            <div>
                <div class="title">Дата рождения</div>
                <input type="text" name="dob" id="calendar-input">
                <div class="hint">Это поле не может быть пустым</div>
            </div>
            
            <div>
                <div class="title">Город</div>
                <input type="text" name="city">
                <div class="hint">Это поле не может быть пустым</div>
            </div>
            
            <div>
                <div class="title active">Телефон</div>
                <input type="tel" data-inputmask-mask="+7(999)999-9999" placeholder="+7(___)___-____" name="phone" class="filled">
                <div class="hint">Это поле не может быть пустым</div>
            </div>
            
            <div>
                <div class="title">Email</div>
                <input type="email" name="email">
                <div class="hint">Это поле не может быть пустым</div>
            </div>
            
            <div class="button big orange addUser" style="margin-top: 20px; margin-bottom: 150px;">Добавить</div>
            
        </div>
    </div>
  </div>
</div> 
    