<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back"></i>
       </a>
    </div>
    <div class="center sliding">Анкета</div>
  </div>
</div>
<div class="pages">
  <div data-page="anketa" class="page no-toolbar">
    <div class="page-content" style="padding-bottom:0;">
        <div class="alert">
            Пожалуйста, исправьте ошибки в форме
        </div>
        <div class="wrapper">
            <!--<form id="registrationForm">-->
				<div>
					<div class="title">Фамилия</div>
					<input type="text" name="last_name">
					<div class="hint">Это поле не может быть пустым</div>
				</div>

				<div>
					<div class="title">Имя</div>
					<input type="text" name="first_name">
					<div class="hint">Это поле не может быть пустым</div>
				</div>

				<div>
					<div class="title">Отчество</div>
					<input type="text" name="second_name">
					<div class="hint">Это поле не может быть пустым</div>
				</div>

				<div style="display: none;">
					<div class="title">Дата рождения</div>
					<input type="text" name="birthday" id="calendar-input">
					<div class="hint">Это поле не может быть пустым</div>
				</div>

				<div>
					<div class="title">Город</div>
					<input type="text" name="city">
					<div class="hint">Это поле не может быть пустым</div>
				</div>

				<div>
					<div class="title active">Номер телефона</div>
					<input type="tel" maxlength="20" id="sbphone" name="phone" class="filled" data-inputmask-mask="+7(999)999-9999" placeholder="+7(___)___-____">
					<div class="hint">Поле заполнено некорректно</div>
				</div>

				<div>
					<div class="title">Эл. почта</div>
					<input type="email" name="email">
					<div class="hint">Это поле не может быть пустым</div>
				</div>

				<!-- <div>
					<div class="check_promo">Активировать</div>
					<div class="title">Промо-код</div>
					<input type="text" name="promo">
				</div> -->

				<div>
					<div class="title">Пароль</div>
					<input type="password" name="password">
					<div class="hint">Это поле не может быть пустым</div>
				</div>
			<!--</form>-->
           <div style="line-height: 24px; font-size: 14px; z-index: 999;">
			   	<div id="paymentRulesA"></div>
           		<div id="paymentRulesB"></div>
           		Я ознакомился с <a id="rules" style="color: #2b9e48;">Правилами абонентского юридического обслуживания</a>        	
            </div>
            <div class="button orange big" style="margin-bottom: 200px;">Перейти к оплате</div>
        </div>
    </div>
  </div>
</div> 