<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back"></i>
       </a>
    </div>
    <div class="center sliding">Выбор пакета</div>
  </div>
</div>
<div class="pages">
  <div data-page="buy" class="page no-toolbar">
    <div class="page-content" style="padding-bottom:0;">
        <div class="swiper-container buy">
            <div class="swiper-wrapper">
                <div class="swiper-slide template">
                	<div class="wrapper">
                    	<div class="top">
                            <img class="card-image">
                            <div class="caption"></div>
                            <div class="price"></div>
                            <div class="clear"></div>
                            <div class="promo">
                              <label class="green-checkbox promo__checkbox">                                
                                <input type="checkbox" >
                                <div class="box"></div>
                              </label>
                              <span class="promo__caption">Промо-Код &nbsp;&nbsp;</span>                             
                              <input type="hidden" class="promo__value">
                            </div>
                        </div>
                        <div class="family">
                        	<label>
                        		<input type="checkbox">Cервис для семьи
                        	</label>
                        </div>
                        <div class="productServices">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination buy"></div>
            <div class="button orange big">Выбрать</div>
        </div>
    </div>
  </div>
</div> 