<div class="navbar">
  <div class="navbar-inner">
    <div class="center sliding">Мои карты</div>
    <div class="right">
    	<div class="buyCards"></div>
    </div>
  </div>
</div>
<div class="pages">
  <div data-page="cards" class="page">
	<div class="swiper-container3">
		<div class="swiper-wrapper cardslist">
			<span class="preloader preloader-white" style="position: absolute; left: calc(50% - 15px); top: calc(50% - 30px);"></span>
		</div>
		<div class="swiper-pagination3"></div>
	</div>
     <div class="page-content">
        <!-- Default pull to refresh layer-->
        <div class="upbg"></div>
        
        <div class="wrapper">
        	<div class="button orange" style="float: right;">Активировать</div>

            <div class="tarif"></div>

            <div class="expire">Действует до <div class="date"></div></div>

            <div class="linee">
                <div class="item">
                    <div class="caption">Номер карты</div>
                    <div class="cardnum"></div>
                </div>
                <div class="item activationcode" style="display: none;">
                    <div class="caption">Код активации</div>
                    <div class="code"></div>
                </div>
            </div>
            
            <div class="servicess">
                Доступно <span class="servicesCount"></span> услуг
            </div>

            <div class="line"></div>
            <div class="divider">Пользователи</div>

            <div id="allUsers"></div>
            
            <div class="button addUser">Добавить</div>
        </div>       
    </div>
    <div class="buyNewCardMessage">
            <table style="height: 100%; width: 100%; border: 0; color: #676767;">
                <tr>
                    <td valign="middle" align="center">
                        Чтобы купить новую карту, нажмите на кнопку выше 👆 
                    </td>
                </tr>
            </table>
        </div>
    <div class="noCards">
		<table style="height: 100%; width: 100%; border: 0;">
			<tr>
				<td valign="middle" align="center">
					<img src="img/my-cards-empty@3x.png">
					<p>Сейчас у вас нет карт</p>
					Купите карту и получите полный доступ к <br>Личному юристу
					<div class="button big orange buyCards">Купить карту</div>
				</td>
			</tr>
		</table>
	</div>
  </div>
</div> 