<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back"></i>
      </a>
    </div>
    <div class="center sliding">Запрос №
      <span class="consNum">2817461</span>
    </div>
  </div>
</div>
<div class="pages">
  <div data-page="chat" class="page toolbar-fixed">  
    <div class="toolbar messagebar js-chat-messagebar" >
      <div class="toolbar-inner">
        <div class="file"></div>
        <form id="chatMessage">
          <textarea id="commentMessage" placeholder="Напишите ваш вопроc"></textarea>
        </form>
        <div class="sound" id="sendSound">
          Отправить
        </div>
        <input type="submit" value="Отправить" style="display:none">
      </div>
    </div>
    <div class="page-content messages-content js-chat-page-content">
      <div class="messages js-chat-messages"></div>
      <div class="chat-handlers">
        <div class="button orange big js-chat-cancel" style="display: none">
            Отклонить консультацию
        </div>
        <div class="button orange big js-chat-resume" style="display: none">
            Возобновить консультацию
        </div>
      </div>      
    </div>    
    <div class="chat-overwrapper">
      <div class="chat-statusbar js-chat-statusbar" style="display:none">
        <div class="chat-statusbar__fixed js-chat-toggler">
          <div class="chat-statusbar__block">
            <p class="chat-statusbar__label">Статус</p>
            <p class="chat-statusbar__value chat-statusbar__value_bold js-chat-status">-</p>
          </div>
        </div>
        <div class="chat-statusbar__float">
          <div class="chat-statusbar__block ">
            <p class="chat-statusbar__label">Номер карты</p>
            <p class="chat-statusbar__value chat-statusbar__value_bold js-chat-card">-</p>
          </div>
          <div class="chat-statusbar__block">
            <p class="chat-statusbar__label">Дата создания</p>
            <p class="chat-statusbar__value chat-statusbar__value_bold js-chat-date">-</p>
          </div>
          <div class="chat-statusbar__block">
            <p class="chat-statusbar__label">Право страны</p>
            <p class="chat-statusbar__value chat-statusbar__value_bold  js-chat-country">-</p>
          </div>
          <div class="chat-statusbar__block">
            <p class="chat-statusbar__label">Тип запроса</p>
            <p class="chat-statusbar__value chat-statusbar__value_bold js-chat-type-request">-</p>
          </div>
          <div class="chat-statusbar__block">
            <p class="chat-statusbar__label">Суть запроса</p>
            <p class="chat-statusbar__value js-chat-content-request">-</p>
          </div>
        </div>
      </div>
      <div class="chat-feedback js-chat-feedback" style="display:none">
        <div class="chat-feedback__block">
          <div class="chat-feedback__label">Оценка</div>
          <div class="chat-feedback__rate star-rate">
              <div class="star-rate__star" data-rate="1"></div>
              <div class="star-rate__star" data-rate="2"></div>
              <div class="star-rate__star" data-rate="3"></div>
              <div class="star-rate__star" data-rate="4"></div>
              <div class="star-rate__star" data-rate="5"></div>
          </div>
        </div>
        <div class="chat-feedback__block">
          <div class="chat-feedback__label">Претензия</div>
          <div class="chat-feedback__value js-chat-val-complaint" style="display:none">-</div>
          <div class="chat-feedback__button js-chat-set-complaint" style="display: none">Оставить претензию</div>
        </div>
        <div class="chat-feedback__block">
            <div class="chat-feedback__label">Благодарность</div>
            <div class="chat-feedback__value js-chat-val-thanks" style="display:none">-</div>
            <div class="chat-feedback__button js-chat-set-thanks" style="display: none">Оставить благодарность</div>
          </div>
      </div>
    </div>    
    <!-- <div class="round"></div> -->
    <div class="chatbg"></div>
    <div class="roundMenu">
      <!--<a href="" id="call_yurist"><div><img src="img/chat-menu-call.svg">Позвонить юристу</div></a>-->
      <a href="" id="attach_document">
        <div>
          <img src="img/Icons/chat-attach-green.svg">
          <span>Прикрепить документы</span>
        </div>
      </a>
    </div>
    <input id="chatAttachment" type="file" accept="image/*" style="display: block;" />
    <audio id="chat_audio">
      <source src="" type="audio/mpeg">
    </audio>
  </div>
</div>