<div class="navbar">
  <div class="navbar-inner">
    <div class="center sliding">Консультации</div>
    <div class="right">
    	<div class="exit" style="display: none;"></div>
    </div>
  </div>
</div>
<div class="pages">
  <div data-page="consultations" class="page">
    <div class="page-content pull-to-refresh-content">
        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div>
        <div class="wrapper consultations">
            <div class="consul template" data-id="">
                <div class="date"></div>
                <div class="status ready"></div>
                <div class="type"></div>
                <div class="description"></div>

                <div class="messages"></div>                
                <div class="num"></div>
            </div>
            <div class="noConsultations">
				<table style="height: 100%; width: 100%; border: 0;">
					<tr>
						<td valign="middle" align="center">
							<img src="img/consultations-empty.svg">
							<p>Здесь будут храниться ваши консультации</p>
							Чтобы получить консультацию,<br>нажмите на кнопку ниже 👇
						</td>
					</tr>
				</table>
			</div>
        </div>
    </div>
    <div class="bottom">
		<div class="button big orange getcons animated">Получить консультацию</div>
	</div>
	
  </div>
</div> 