<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="link back">
				<i class="icon icon-back"></i>
			</a>
		</div>
		<div class="center sliding">Запрос №
			<span class="consNum"></span>
		</div>
		<div class="right">
		</div>
	</div>
</div>
<div class="pages">
	<div data-page="consultation" class="page">
		<div class="page-content">
			<div class="wrapper">
				<div id="vslider">
					<img src="img/Icons/common-info.svg">

					<div class="caption">Номер карты</div>
					<div class="cardnum"></div>

					<div class="caption">Статус</div>
					<div class="status"></div>

					<div class="caption">Дата создания</div>
					<div class="date"></div>

					<div class="caption">Право страны</div>
					<div class="country"></div>

					<div class="caption">Тип запроса</div>
					<div class="type"></div>

					<div class="caption">Суть запроса</div>
					<div class="description"></div>
				</div>
				<a href="chat.html">
					<img src="img/arrow-next-green.svg" style="float: right; height: 20px; margin-top: 28px;">
					<div class="chat">
					</div>
				</a>

				<div>
					<div class="caption">Оценка консультации</div>
					<div class="stars">
						<div class="star" data-value="1"></div>
						<div class="star" data-value="2"></div>
						<div class="star" data-value="3"></div>
						<div class="star" data-value="4"></div>
						<div class="star" data-value="5"></div>
					</div>
				</div>

				<div>
					<div class="caption">Благодарность</div>
					<div class="blagodarnost">
						<div class="button">Оставить благодарность</div>
					</div>
				</div>

				<div>
					<div class="caption">Претензия</div>
					<div class="pretenziya">
						<div class="button">Оставить претензию</div>
					</div>
				</div>

				<div>
					<div class="caption">Настройки отображения</div>
					<div class="hideConsultation">
						<div class="button">Скрыть консультацию</div>
					</div>
				</div>

				<div class="button orange big cancelConsultation" style="margin: 30px auto">Отклонить консультацию</div>

				<div class="button orange big renewConsultation" style="margin: 30px auto">Возобновить консультацию</div>
			</div>
		</div>
	</div>
</div>