<div class="navbar">
</div>
<div class="pages">
  <div data-page="enter" class="page no-navbar no-toolbar">
    <div class="page-content" style="padding:0;">
      	<div class="logo">
        	<img src="img/Icons/logo-sber.svg">
        </div>
        <div class="content">
            <div class="wrapper">
                <p>Вам нужен сертификат, чтобы пользоваться приложением</p>
                <div id="buyCertificate" class="button orange big">Купить сертификат</div>
            </div>
        </div>
        <div class="bottom">
            <div class="wrapper">
                <a href="login.html"><div class="button">Войти</div></a>
                <div class="button reg">Зарегистрироваться</div>
            </div>
        </div>
    </div>
  </div>
</div> 