<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back"></i>
       </a>
    </div>
    <div class="center sliding">Получить консультацию</div>
  </div>
</div>
<div class="pages">
  <div data-page="get_consultation" class="page">
    <div class="page-content">
    	<div class="wrapper">
        	<form action=""></form>
            <div class="caption">Карта</div>
            <div class="sbcard">
          	 	<img src="img/arrow-next-green.svg" class="arrow" style=" float: right; height: 20px; margin: 0; margin-top: 6px; width: 20px;">
           	 	<img src="img/Icons/card-bg-1.svg">
                <div class="cardnum"></div>
                <div class="tarif"></div>
            </div>
            
            <div>
            	<div class="caption">Услуга</div>
				<div class="service" data-selected-service="0">
					<span>Выберите услугу</span>
				</div>
				<div class="hint">Это поле не может быть пустым</div>
            </div>
            
            <div style="display: none;">
            	<div class="caption">Документ</div>
				<div class="documents">
					<span>Выберите документ</span>
				</div>
            </div>
            
            <div class="caption">Право страны</div>
            <div class="country">
            	Россия
            </div>
            
            <div>
                <div class="caption">Напишите текст запроса</div>
                <textarea class="message" id="messageText"></textarea>
                <div class="hint">Это поле не может быть пустым</div>
            </div>
            
      <div class="fix-file-input">
        <ul class="fix-file-input__list">          
        </ul>				
				<span class="fix-file-input__btn button">
          Добавить файл
          <input class="fix-file-input__src" id="imageHolder" value="Добавить файл" type="file" />
        </span>
      </div>
            
            <div class="button big orange">Отправить</div>
            
        </div>
        
        <div style="height:150px;"></div>
    </div>
    <div class="bottom">
        
    </div>
  </div>
</div> 