
<div class="pages">
  <div data-page="login" class="page no-navbar no-toolbar">
    <div class="page-content" style="padding:0;">
      	<div class="logo">
        	<img src="img/Icons/logo-sber.svg">
        </div>
        <div class="content">
        	<div class="wrapper">
            	<form id="loginFrom">
                    <div class="form">
                        <div>
                            <div class="title active">Номер телефона</div>
                            <input type="tel" data-inputmask-mask="+7(999)999-9999" name="phone" placeholder="+7(___)___-____" class="active fixed" maxlength="20">
                            <div class="hint">Это поле не может быть пустым</div>
                        </div>
                        
                        <div>
                            <div class="title">Пароль</div>
                            <input type="password" name="password" id="loginPass">
                            <div class="hint">Это поле не может быть пустым</div>
                        </div>
                        
                        <div class="hint" style="display:none">Неверный логин или пароль</div>
                    </div>
                    
                    <p>Получить пароль по СМС</p>
                    <input type="submit" value="Войти" class="button orange big">
                </form>
            </div>
        </div>
        <div class="bottom">
            <div class="wrapper">
                <div class="button reg">Зарегистрироваться</div>
                <div class="button buy">Купить сертификат</div>
            </div>
        </div>
    </div>
  </div>
</div> 