<div class="navbar">
  <div class="navbar-inner">
  	<div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back"></i>
       </a>
    </div>
    <div class="center sliding">Обучение</div>
  </div>
</div>
<div class="pages">
  <div data-page="news" class="page">
    <div class="page-content">
    	<div class="wrapper">
        	<div class="title"></div>
            <div class="time"></div>
            <img class="preview">
            <div class="content"></div>
        </div>
    </div>
  </div>
</div> 