a<div class="navbar">
  <div class="navbar-inner">
	<div class="left"></div>
	<div class="center">Настройки</div>
	<div class="right">
		<div class="exit"></div>
	</div>
	<!-- Sub navbar -->
	<div class="subnavbar">
	  <div class="buttons-row">
		<a href="#tab1" class="button tab-link active">Профиль</a>
		<a href="#tab2" class="button tab-link">Приложение</a>
		<a href="#tab3" class="button tab-link">Поддержка</a>
	  </div>
	</div>
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="profile" class="page with-subnavbar">
    <div class="page-content" data-ptr-distance="55" style="padding-bottom:0;">
		<div class="tabs">
			<div id="tab1" class="tab active">
				<div class="wrapper">
					<div class="fiz">
						<div>
							<div class="title active">Фамилия</div>
							<input type="text" name="surname" readonly>
						</div>

						<div>
							<div class="title active">Имя</div>
							<input type="text" name="name" readonly>
						</div>

						<div>
							<div class="title active">Отчество</div>
							<input type="text" name="secname" readonly>
						</div>

						<div>
							<div class="title active">Дата рождения</div>
							<input type="text" name="dob" readonly>
						</div>

						<div>
							<div class="title active">Город</div>
							<input type="text" name="city" readonly>
						</div>
					</div>
						
					<div class="mb">
						<div>
							<div class="title active">Фамилия</div>
							<input type="text" name="surname" readonly>
						</div>

						<div>
							<div class="title active">Имя</div>
							<input type="text" name="name" readonly>
						</div>

						<div>
							<div class="title active">Отчество</div>
							<input type="text" name="secname" readonly>
						</div>
						
						<div class="line"></div>
						<div class="divider">Организация</div>
						
						<div>
							<div class="title active">Название</div>
							<input type="text" name="organization" readonly>
						</div>
						
						<div>
							<div class="title active">ИНН</div>
							<input type="text" name="inn" readonly>
						</div>
						
						<div>
							<div class="title active">КПП</div>
							<input type="text" name="kpp" readonly>
						</div>

						<div>
							<div class="title active">Адрес</div>
							<input type="text" name="address" readonly>
						</div>
						
						<div class="line"></div>
						<div class="divider">Банковский счет</div>
						
						<div>
							<div class="title active">Банк</div>
							<input type="text" name="bank" readonly>
						</div>
						
						<div>
							<div class="title active">БИК</div>
							<input type="text" name="bik" readonly>
						</div>
						
						<div>
							<div class="title active">Номер счета</div>
							<input type="text" name="bank_account" readonly>
						</div>
					</div>

					<div>
						<div class="title active">Email</div>
						<input type="email" name="email" readonly>
					</div>

					<div class="button changeEmail">Сменить email</div>

					<div class="button addUser hideit">Добавить</div>
				</div>
			</div>
			<div id="tab2" class="tab">
				<div class="wrapper">
					<div id="callType" style="display: none; margin-bottom: 30px;">
						<div class="title active">Звонить консультанту</div>
						<div class="radiooption active" data-call-type="sip" style="padding-top: 16px;">По интернету</div>
						<div class="radiooption" data-call-type="gsm">По телефону (GSM)</div>
					</div>
					
					<div class="line" style="margin-top: 0;"></div>
					<div class="divider">Вход в приложение</div>

					<div class="oneline">
						<div class="button changePass">Сменить</div>
						<div class="title active">Пароль</div>
						<input type="password" name="password" value="******" readonly>
					</div>

					<div class="oneline">
						<div class="item-input">
							<label class="label-switch">
								<input type="checkbox" id="touchIdSwitch">
								<div class="checkbox"></div>
							</label>
						</div>
						<div class="title active">Вход по Touch ID</div>
						<p style="padding-top: 16px;">Выключен</p>
					</div>
					
					<div class="oneline" style="display: none;">
						<div class="item-input">
							<label class="label-switch">
								<input type="checkbox" id="pinSwitch">
								<div class="checkbox"></div>
							</label>
						</div>
						<div class="title active">Вход по ПИН коду</div>
						<p style="padding-top: 16px;">Выключен</p>
					</div>
				</div>
			</div>
			<div id="tab3" class="tab">
				<div class="wrapper" style="overflow: hidden;">
					<div class="helphint">
						Опишите проблему или напишите вопрос о приложении. Обычно отвечаем в течение 6 часов.
					</div>

					<div class="helpreply" style="margin-top: 46px;">Проблема или вопрос</div>
					<textarea id="helptext"></textarea>
					
					<div class="helpreply">Ответить</div>
					<div class="reply email checked"></div>
					<div class="reply phone"></div>
					<div class="button big orange" style="margin: 30px auto;">Отправить</div>

					<div style="height: 150px;"></div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div> 
    