<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back"></i>
       </a>
    </div>
    <div class="center sliding">Покупка завершена</div>
  </div>
</div>
<div class="pages">
  <div data-page="purchase" class="page no-toolbar">
    <div class="page-content">
        <div class="wrapper">
        	<div class="content">
            	<div class="circle"></div>
                Вы успешно подключили пакет  «Активный»! На вашу почту отправлен электронный сертификат и пароль для входа в систему
            </div>
        </div>
        <a href="login.html"><div class="button big orange">Войти</div></a>
    </div>
  </div>
</div> 