<div class="navbar">
  <div class="navbar-inner">
    <div class="center sliding">Legal cloud</div>
    <div class="right">
    	<div class="exit" style="display: none;"></div>
    </div>
    <!-- Sub navbar -->
    <div class="subnavbar">
      <div class="buttons-row">
        <a href="#lctab1" class="button tab-link active">Нострадамус</a>
        <a href="#lctab2" class="button tab-link tezaurus">Тезаурус</a>
      </div>
    </div>
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="study" class="page with-subnavbar">
    <div class="page-content">
    	<div class="tabs">
            <div id="lctab1" class="tab active">
                <div class="wrapper nostra">
                    Загрузка раздела. Первый раз это может занять несколько минут. Пожалуйста, подождите.
                </div>
            </div>
            <div id="lctab2" class="tab js-tezaurus-delegator">
                <div class="tezSearch" style="display: none">       
                    <div class="tezSearch__input">
                        <input type="text" />
                    </div>                            
                    <div class="tezSearch__results">

                    </div>
                </div>                
                <div class="wrapper tezCategories">
                    Загрузка раздела. Первый раз это может занять несколько минут. Пожалуйста, подождите.
                </div>
            </div>
            <div id="lctab3" class="tab">
                <div class="wrapper news">
                    <a href="news.html" class="template">
                        <table>
                            <tr>
                                <td valign="top">
                                    <div class="preview"></div>
                                </td>
                                <td valign="top">
                                    <div class="title"></div>
                                    <div class="time"></div>
                                </td>
                            </tr>
                        </table>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div> 