<div class="navbar">
  <div class="navbar-inner">
    <div class="center sliding">Получить консультацию</div>
  </div>
</div>
<div class="pages">
  <div data-page="tour" class="page no-navbar no-toolbar">
    <div class="page-content" style="padding:0;">
        <div class="swiper-container tour">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="wrapper">
                        <div>
                            <img src="img/Icons/tour-1.svg" class="icon">
                            <p>Поздравляем! Вы только что установили мобильное приложение «Личный юрист»!</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wrapper">
                        <div>
                            <img src="img/Icons/tour-2.svg" class="icon">
                            <p>Если у вас есть вопрос, вы можете позвонить или написать, прикрепив документы или фото</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="line-block logo">
            <img src="img/Icons/logo-sber.svg">
        </div>
        <div class="line-block">
            <a href="enter.html"><div class="button">Пропустить</div></a>
        </div>
    </div>
  </div>
</div> 