.page[data-page=add_cardholder] .wrapper {
    padding: 20px;
    padding-bottom: 80px;
}

.page[data-page=add_cardholder] .help{
	background-color: #eeeeee;
	padding: 20px;
	font-size: 14px;
	color: #333333;
}

.page[data-page=add_cardholder] .hint{
	font-size: 12px;
	line-height:22px;
	font-weight: bold;
	color: #e73636;
	margin-top:-10px;
	display:none;
}

.page[data-page=add_cardholder] .sbcard{
	margin-bottom: 10px;
}

.page[data-page=add_cardholder] .sbcard img{
	float:left;
	margin:0 20px 0 0;
	width:50px;
}

.page[data-page=add_cardholder] .sbcard .cardnum{
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	line-height:18px;
}

.page[data-page=add_cardholder] .sbcard .tarif{
	font-size: 12px;
	color: #676767;
	line-height:15px;
}

.page[data-page=add_cardholder] .caption {
    font-size: 10px;
    line-height: 14px;
    font-weight: bold;
    color: #676767;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.page[data-page=add_cardholder] input {
	font-size: 15px;
    line-height: 30px;
    color: #33333333;
    font-weight: bold;
    border: 0;
    width: 100%;
    border-bottom: solid 2px #e6e6e6;
    margin-top: 12px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.00);
}

.page[data-page=add_cardholder] input.active{
	border-bottom:solid 2px #2b9e48;
}

.page[data-page=add_cardholder] input.error{
	border-bottom:solid 2px red;
}

.page[data-page=add_cardholder] .title {
	position: absolute;
    font-size: 15px;
    color: #aaaaaa;
    margin-top: 17px;
    transition: all 0.3s ease-out;
    z-index: -1;
}

.page[data-page=add_cardholder] .title.active{
	position:absolute;
	font-size: 10px;
	font-weight: bold;
	color: #676767;
	margin-top:0;
	text-transform:uppercase;
}

.page[data-page=add_cardholder] .swiper-container.tour {
  height: 100%;
}
.page[data-page=add_cardholder] .swiper-container.tour {
  height: 100%;
}

.page[data-page=add_cardholder] .swiper-container.tour {
  height: 100%;
}
.page[data-page=add_cardholder] .swiper-container.tour {
  height: 100%;
}

.page[data-page=add_cardholder] .swiper-container.tour {
  height: 100%;
}
.page[data-page=add_cardholder] .swiper-container.tour {
  height: 100%;
}

.page[data-page=add_cardholder] .swiper-container.tour {
  height: 100%;
}
.page[data-page=add_cardholder] .swiper-container.tour {
  height: 100%;
}

.page[data-page=add_cardholder] .swiper-container.tour {
  height: 100%;
}
.page[data-page=add_cardholder] .swiper-container.tour {
  height: 100%;
}

.page[data-page=add_cardholder] .swiper-container.tour {
  height: 100%;
}
.page[data-page=add_cardholder] .swiper-container.tour {
  height: 100%;
}

