@keyframes daysky {
from 
	{
		background-image: linear-gradient(to bottom, #1b2392, #4a70ce 34%, #fdd09d 85%, #f0d7be);
	}
to 
	{
		background-image: linear-gradient(to bottom, #44b4e6, #ffffff);
	}
}
	
@keyframes daysun {
from 
	{
		transform: scale3d(1, 1, 1);
		opacity: 0.75;
	}
to 
	{
		transform: scale3d(3, 3, 3);
		opacity: 0;
	}
}

@keyframes raise {
from 
	{
		transform: scale3d(1, 1, 1);
	}
to 
	{
		transform: scale3d(3, 3, 3);
		opacity: 0;
	}
}

@keyframes shake {
0% 
	{
		transform: rotateZ(0deg);
	}
2% 
	{
		transform: rotateZ(2deg);
	}
4% 
	{
		transform: rotateZ(-2deg);
	}
6% 
	{
		transform: rotateZ(0deg);
	}
}