.page[data-page=anketa] .wrapper{
	padding:20px;
}

.page[data-page=anketa] input, #tel{
	font-size:15px;
	line-height:30px;
	color:#33333333;
	font-weight:bold;
	border:0;
	width:100%;
	border-bottom:solid 2px #e6e6e6;
	margin-top:12px;
	margin-bottom:10px;
	background:rgba(0,0,0,0.00);
	height:30px;
	font-family: OpenSans, sans-serif;
	padding-left: 0;
}

.page[data-page=anketa] input.active{
	border-bottom:solid 2px #2b9e48;
}

.page[data-page=anketa] input.error{
	border-bottom:solid 2px #e73636;
}

.page[data-page=anketa] .title{
	position:absolute;
	font-size: 15px;
	color: #aaaaaa;
	/*margin-top:17px;*/
	transition: all 0.3s ease-out;
	z-index:-1;
	transform: translate3d(0px, 17px, 0px);
}

.page[data-page=anketa] input[type=number]{
	opacity:0;
}

.page[data-page=anketa] #tel{
	margin-top:-44px;
	position:absolute;
	z-index:-1;
	width: calc(100% - 40px);
}

.page[data-page=anketa] .title.active{
	position:absolute;
	font-size: 10px;
	font-weight: bold;
	color: #676767;
	/*margin-top:0;*/
	transform: translate3d(0px, 0px, 0px);
	letter-spacing: 1px;
	text-transform:uppercase;
}

.page[data-page=anketa] .alert{
	font-size: 12px;
	line-height:26px;
	text-align: center;
	color: #ffffff;
	background-color:#e73636;
	display:none;
}

.page[data-page=anketa] .button.big{
	margin:30px auto;
}

.page[data-page=anketa] .hint{
	font-size: 12px;
	line-height:22px;
	font-weight: bold;
	color: #e73636;
	margin-top:-10px;
	display:none;
}

.picker-calendar-day.picker-calendar-day-selected span{
	background-color: #2b9e48;
}

.picker-calendar .icon.icon-prev{
	background-image:url(../img/arrow-down-sign-to-navigate.svg);
	height: 20px;
	width: 20px;
}

.picker-calendar .icon.icon-next{
	background-image:url(../img/arrow-next-green.svg);
	height: 20px;
	width: 20px;
}



.page[data-page=anketa] #paymentRulesA, .page[data-page=anketa] #paymentRulesB{
	height: 24px;
    width: 24px;
    border: solid 2px #2b9e48;
	margin: 0;
	margin-bottom: -5px;
	margin: 8px 15px 0 0;
	float: left;
	display: none;
}

.page[data-page=anketa] #paymentRulesB{
	background-image: url(../img/checked.svg);
	background-position: center;
	background-size: 12px;
	background-repeat: no-repeat;
	display: block;
}

.page[data-page=anketa] .check_promo{
	    height: 30px;
    border: 2px solid #2b9e48;
    line-height: 24px;
    padding: 0 10px;
    color: #2b9e48;
    font-family: OpenSans;
    font-size: 14px;
    display: table;
    border-radius: 40px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    -webkit-appearance: none;
    letter-spacing: 0px !important;
    font-weight: normal;
    /* float: right; */
    display: inline-block;
    position: absolute;
    right: 20px;
    /* top: 5px; */
    margin-top: 10px;
}