.swiper-container.buy{
	height:100%;
}

.page[data-page=buy] .family{
	font-size: 15px;
    line-height: 18px;
    color: #333333;
    font-weight: bold;
	margin: 10px 0 20px 0;
}

.page[data-page=buy] .family input[type=checkbox]{
	height: 24px;
	width: 24px;
	border: 2px solid #2b9e48;
	margin:0 4px -6px 0;
	background: white;
}
.page[data-page=buy] .family input[type=checkbox]:checked{
	background-image: url(../img/checked.svg);
    background-position: center;
    background-size: 12px;
    background-repeat: no-repeat;
}

.page[data-page=buy] .wrapper{
	margin:20px;  
	border: solid 1px #e6e6e6;
	padding:20px !important;
	border-radius: 8px;
	height:calc(100% - 90px);
	overflow: auto;
}

.page[data-page=buy] .top{
	min-height: 80px;
}

.page[data-page=buy] .top img{
	height:66px;
	float:left;
	/*margin-top:-20px;*/
	/*box-shadow: 0 10px 19px 0 rgba(19, 120, 33, 0.45), inset 0 1px 1px 0 rgba(255, 255, 255, 0.3);*/
	margin-right:13px;
	margin-bottom:13px;
	filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.5))
}

.page[data-page=buy] .productServices{
	padding-bottom: 55px;
}

.page[data-page=buy] .top .caption{
	font-size:18px;
	line-height:22px;
	color:#333333;
	font-weight:bold;
	margin-top:-5px;
}
	
.page[data-page=buy] .top .price{
	font-size: 18px;
	line-height:30px;
	color: #2b9e48;
	margin-bottom:0px;
}
		
.page[data-page=buy] .title{
	font-size: 12px;
	font-weight: bold;
	color: #676767;
	margin:10px 0 5px 0;
}
	
.page[data-page=buy] .description{
	font-size:15px;
	line-height:18px;
	color:#333333;
	font-weight:bold;
}

.page[data-page=buy] .button.big{
    z-index: 999;
    position: fixed;
    bottom: 40px;
    left: calc(50% - 120px);
}

.page[data-page=buy] .template{
	display: none;
}

.page[data-page=buy] .productServices img{
    height: 18px;
    margin-bottom: -10px;
    padding: 6px;
	padding-top: 0;
}


@media screen and (max-width:320px) {
	.page[data-page=buy] .title{
		margin: 10px 0 5px 0;
	}
}