.page[data-page=cards] .page-content{
	margin-top: 240px;
	padding-bottom: 60px;
	height: calc(100% - 170px);
	padding-top: 0;
}


.page[data-page=cards] .swiper-slide img{
	/*box-shadow: 0 10px 19px 0 rgba(19, 120, 33, 0.45), inset 0 1px 1px 0 rgba(255, 255, 255, 0.3);*/
	filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
	height:140px;
}

.page[data-page=cards] .wrapper{
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	line-height:15px;
	padding:20px;
	padding-bottom:80px;
}

.page[data-page=cards] .divider{
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #676767;
	background-color:white;
	display:table;
	line-height:20px;
	text-transform:uppercase;
	letter-spacing: 1px;
	margin:-10px auto;
	padding:0 10px;
	margin-bottom:10px;
}

.page[data-page=cards] .line{
	background: #e6e6e6;
	height:1px;
	margin-top:30px;
}

.page[data-page=cards] .swiper-container3{
	background: linear-gradient(to left, #1aa4a4, #2b9e48);
	padding:50px 0 20px 0;
	overflow:hidden;
	position:fixed;
	width:100%;
	height:170px;
}

.page[data-page=cards] .swiper-slide{
	text-align:center;
}

.page[data-page=cards] .swiper-pagination3{
	text-align:center;
	/*margin-top:20px;*/
}

.page[data-page=cards] .swiper-pagination-bullet{
	background-color:rgba(0, 0, 0, 0.3);
}

.page[data-page=cards] .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background-color:white;
}

.page[data-page=cards] .pull-to-refresh-layer{
	background: linear-gradient(to left, #1aa4a4, #2b9e48);
}

.page[data-page=cards] .preloader{
	background-image:url(../img/loading.svg);
	background-size:contain;
	background-repeat:no-repeat;
	width:30px;
	height:30px;
}

.cardservices .serviceHintIcon img{
	    height: 18px;
    margin-bottom: -6px;
    /* padding: 6px; */
    margin-right: 5px;
}

.page[data-page=cards] .upbg{
	background: linear-gradient(to left, #1aa4a4, #2b9e48);
	position:fixed;
	top:-200px;
	left:0;
	width:100%;
	height:400px;
	display:none;
}

.buyCards:not(.button){
	font-size: 14px;
	color: white;
	width: 20px;
	height: 20px;
	background-image: url(../img/Icons/common-plus-white.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.cardservices .quantity img{
	height: 16px;
	margin: 0 8px;
	margin-bottom: -3px;
}

.page[data-page=cards] .wrapper .button{
	/*
	float: right;
	height: 30px;
    line-height: 30px;
    border: 0;
    */
    margin: 0;
}

.page[data-page=cards] .noCards{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to left, #1aa4a4, #2b9e48);
	z-index: 999;
	color: white;
	font-size: 14px;
	line-height: 18px;
	display: none;
}

.page[data-page=cards] .buyNewCardMessage{
	position: fixed;
    top: 240px;
    left: 0;
    height: calc(100% - 240px - 50px + 5px);
    width: auto;
    background-image: white;
    z-index: 999;
    color: white;
    font-size: 14px;
    line-height: 18px;
    display: none;
    background-color: white;
    /* padding-bottom: 80px; */
    padding: 0 30px;
}

.page[data-page=cards] .noCards p{
	font-size: 18px;
	line-height: 24px;
}

.page[data-page=cards] .noCards .button{
	margin-top: 20px;
}

.page[data-page=cards] .noCards img{
	width: 65%;
}

.page[data-page=cards] .buyService{
	float: none !important;
	display: inline-block;
	border: 0;
    background-color: #ff9900;
    color: white;
	margin-bottom: -10px;
    margin-left: 20px;
}

.page[data-page=cards] .tarif{
	font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  line-height: 28px;
}

.page[data-page=cards] .expire{
	line-height: : 20px;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2b9e48;
}

.page[data-page=cards] .date{
	display: inline-block;
}

.page[data-page=cards] .linee .item{
	display: inline-block;
	width: 49%;
}

.page[data-page=cards] .linee .caption{
	font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    color: #676767;
    text-transform: uppercase;
    margin: 20px 0 5px 0;
    letter-spacing: 1px;
}

.page[data-page=cards] .servicess{
line-height: 16px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #e6e6e6;
    background-image: url(../img/my-cards-list.svg);
    background-position: left center;
    background-size: 25px;
    background-repeat: no-repeat;
    padding-left: 50px;
    font-size: 16px;
    color: #333333;
    padding: 20px;
    padding-left: 60px;
    background-position-x: 20px;
    margin-top: 20px;
}

.page[data-page=cards] .buyNewCard .button{
	color: white;
	border-color: white;
}

.page[data-page=cards] .buyNewCard .cell{
	display: table-cell;;
	vertical-align: middle;
	text-align: center;
}

.page[data-page=cards] .buyNewCard{
	background-image: url(../img/my-cards-dummy@3x.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    height: 140px;
    display: table;
    width: 100%;
}

.popup-services{
	background-color: rgba(255,255,255,.95);
    border-radius: 13px 13px 0 0;
    padding: 20px 20px 0 20px;
    margin: 0 20px;
    box-shadow: 0 2px 15px 3px rgba(0,0,0,0.1);
    width: calc(100% - 40px);
    margin-top: 20px;
}

.popup-services .caption{
	font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    color: #676767;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    background: none;
    min-height: auto;
    padding: 0;
    margin-bottom: 20px;
}

.popup-services .cardservices .caption{
	font-size: 10px;
    margin: 0;
    text-align: left;
    line-height: 16px;
}

.popup-services .cardservices .quantity{
    font-size: 16px;
    line-height: 32px;
    margin-top: 5px;
}

.popup-services .cardservices .item{
	padding: 6px 0 10px 0;
    border-bottom: 1px solid #e6e6e6;
}

.popup-services .close {
    border-bottom: 0px;
    color: #2b9e48;
    font-weight: normal;
    line-height: 60px;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 80px;
    margin: 0 -20px;
}

.popup-services .holder {
    position: absolute;
    height: calc(100% - 100px);
    top: 20px;
    width: calc(100% - 40px);
    overflow-y: auto;
}

.buyService, .getService{
	float: right;
    height: 12px !important;
    line-height: 26px !important;
    margin: -30px 0 0 5px !important;
}

.cardservices .caption{
	font-size: 10px;
	line-height:12px;
	font-weight: bold;;
	color: #676767;
	text-transform:uppercase;
	margin:20px 0 5px 0;
	letter-spacing: 1px;
}

.page[data-page=cards] .carduser{
	border-radius: 8px;
	border: solid 1px #e6e6e6;
	padding: 10px;
	margin-bottom: 20px;
	position: static;
}

.page[data-page=cards] .carduser .name{
	font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 55px);
    overflow: hidden;
    line-height: 20px;
    margin-top: -4px;
}

.page[data-page=cards] .carduser .phone, .page[data-page=cards] .carduser .email{
	font-size: 12px;
	color: #676767;
}

.page[data-page=cards] .carduser .remove{
	float: right;
	height: 40px;
	width: 40px;
	margin-left: 15px;
}