.message-sent .message-text {
	-webkit-mask-box-image: none;
	background-color: #2b9e48;
}

.message .message-text {
	border-radius: 8px;
	font-size: 14px;
	line-height: 14px;
	/* padding: 6px 16px; */
}

.message-sent.message-last .message-text,
.message-sent.message-with-tail .message-text,
.message-received.message-last .message-text,
.message-received.message-with-tail .message-text {
	border-radius: 8px;
}

.message-sent.message-last .message-text,
.message-sent.message-with-tail .message-text,
.message-received.message-last .message-text,
.message-received.message-with-tail .message-text {
	border-radius: 8px;
}

.messages-auto-layout .message-last .message-name {
	font-size: 12px;
	line-height: 16px;
	color: #2b9e48;
	/*background-image:url(../img/Icons/chat-logo-sber.svg);*/
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	/*padding-left:20px;*/
}

.messages-auto-layout .message-sent .message-label {
	font-size: 12px;
	line-height: 16px;
}

.message-date {
	font-size: 10px;
	line-height: 10px;
}

.messagebar {
	background-color: #eeeeee;
}

.messagebar form {
	width: calc(100% - 60px);
}

.messagebar textarea {
	border-radius: 8px;
	background-color: #ffffff;
	border: solid 1px #e0e0e0;
	font-size: 14px;
}

.messagebar .file {
	background-image: url(../img/Icons/chat-attach.svg);
	background-size: contain;
	height: 20px;
	width: 20px;
	float: left;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.messagebar .sound {
	/*background-image:url(../img/Icons/chat-dictate.svg);*/
	background-size: contain;
	height: 20px;
	/*width:20px;*/
	line-height: 20px;
	font-size: 14px;
	float: right;
	background-repeat: no-repeat;
	margin-left: 10px;
	color: #2b9e48;
}

.message-sent.message-last .message-text,
.message-sent.message-with-tail .message-text,
.message-received.message-last .message-text,
.message-received.message-with-tail .message-text,
.message-received .message-text {
	-webkit-mask-box-image: none;
	min-height: auto;	
}

.message-sent.message-with-tail:after {
	content: '';
	height: 20px;
	width: 20px;
	margin-top: -47px;
	margin-right: -8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 0 20px;
	border-color: transparent transparent transparent #2b9e48;
}

.message-received.message-with-tail:after {
	content: '';
	height: 20px;
	width: 20px;
	margin-top: -20px;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 20px 20px;
	border-color: transparent transparent #e5e5ea transparent;
}

.message .message-text p {
	margin: 0;
	font-size: 12px;
}

.message img {
	image-orientation: from-image;
}

.round {
	background-image: url(../img/chat-menu.svg);
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	box-shadow: 0 4px 8px 0 rgba(47, 47, 47, 0.16);
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 25px;
	z-index: 9999;
	background-color: white;
	margin-bottom: 70px;
}

.roundMenu {
	width: 225px;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(47, 47, 47, 0.16);
	position: fixed;
	bottom: 0;
	right: 0;
	margin-bottom: 70px;
	z-index: 9999;
	margin-right: 90px;
	display: none;
}

.roundMenu div {
	font-size: 12px;
	color: #676767;
	line-height: 50px;
}

.roundMenu img {
	height: 20px;
	margin: 15px;
	float: left;
}

.chatbg {
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: -50px;
	left: 0px;
	width: 100%;
	height: calc(100% + 50px);
	z-index: 9998;
	display: none;
}

.messages-auto-layout {
	padding-bottom: 100px;
}