.page[data-page=consultation] .caption, .page[data-page=get_consultation] .caption{
	font-size: 10px;
	line-height:14px;
	font-weight: bold;
	color: #676767;
	margin-top:20px;
	text-transform:uppercase;
	margin-bottom:5px;
	letter-spacing: 1px;
}

.page[data-page=consultation] .chat{
	border:1px solid #e6e6e6;
	border-right:0;
	border-left:0;
	font-size:14px;
	line-height:14px;
	background-image:url(../img/Icons/consultations-messages.svg);
	background-position:left;
	background-repeat:no-repeat;
	padding:15px 0;
	margin:15px 0;
	padding-left:30px;
	background-size:14px;
	color:#2b9e48;
}

.page[data-page=consultation] .stars{
	height:32px;
}

.page[data-page=consultation] .star.good{
	background-image:url(../img/Icons/consultation-star-filled.svg);
	
}

.page[data-page=consultation] .star{
	background-image:url(../img/Icons/consultation-star-empty.svg);
	height:32px;
	width:50px;
	display:inline-block;
	margin:5px 0;
	background-position:left;
	background-size:contain;
	background-repeat:no-repeat;
}

.page[data-page=consultation] .page-content{
	font-size:15px;
	line-height:17px;
	font-weight:bold;
	color:#333333;
}

.page[data-page=consultation] .description, .page[data-page=consultation] .pretenziya,  .page[data-page=consultation] .blagodarnost{
	font-weight:normal;
}

.page[data-page=consultation] .wrapper, .page[data-page=get_consultation] .wrapper{
	padding:0 20px 70px 20px;
}

.page[data-page=consultation] .button{
	margin:10px 0;
}

.page[data-page=get_consultation] .hint{
	font-size: 12px;
	line-height:22px;
	font-weight: bold;
	color: #e73636;
	display:none;
}

.page[data-page=consultation] .pretenziyadate{
	font-size: 12px;
	line-height:20px;
	color: #676767;
	margin-top:5px;
}

.page[data-page=get_consultation] .bottom{
	position:fixed;
	bottom:70px;
	text-align:center;
	width:100%;
	z-index:99;
}


.page[data-page=get_consultation] input, .page[data-page=get_consultation] select, .page[data-page=get_consultation] textarea{
	font-size:15px;
	line-height:30px;
	color:#33333333;
	font-weight:bold;
	border:0;
	width:100%;
	border-bottom:solid 2px #e6e6e6;
	margin-top:12px;
	margin-bottom:10px;
	background:rgba(0,0,0,0.00);
}

.page[data-page=get_consultation] .service, .page[data-page=get_consultation] .country, .page[data-page=get_consultation] .documents{
	line-height: 15px;
	padding: 5px 0 10px 0;
	border-bottom:solid 2px #e6e6e6;
	font-weight:bold;
	font-size: 15px;
}

.page[data-page=get_consultation] .service.error{
	border-color: #e73636;
}

.page[data-page=get_consultation] textarea{
	margin:0 !important;
	height:150px !important;
	width:100% !important;
	max-width:none !important;
	font-size:14px;
	line-height:14px;
	resize: none;
}

.page[data-page=get_consultation] textarea.error{
	border-bottom: solid 2px red;
}

.page[data-page=get_consultation] .wrapper .button{
	margin:0;
	margin-top:20px;
}

.page[data-page=get_consultation] .sbcard img{
	float:left;
	margin:0 20px 0 0;
	width:50px;
}

.page[data-page=get_consultation] .sbcard .cardnum{
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	line-height:18px;
}

.page[data-page=get_consultation] .sbcard .tarif{
	font-size: 12px;
	color: #676767;
	line-height:15px;
}

.page[data-page=get_consultation] .sbcard img{
}

.page[data-page=get_consultation] .title{
	position:absolute;
	font-size: 15px;
	color: #aaaaaa;
	margin-top:17px;
	transition: all 0.3s ease-out;
	z-index:-1;
}

.page[data-page=get_consultation] .title.active{
	position:absolute;
	font-size: 12px;
	font-weight: bold;
	color: #676767;
	margin-top:0;
}

.page[data-page=get_consultation] input[type=file]{
	display: none;
}

.page[data-page=get_consultation] .button.big{
	margin: 20px auto;
}

.page[data-page=consultation] #vslider{
	max-height: 60px;
	overflow: hidden;
	transition: all ease-in-out 0.5s;
}

.page[data-page=consultation] #vslider img{
	float: right;
	height: 20px;
	padding: 20px 0 20px 40px;
}