.page[data-page=consultations] .wrapper{
	padding:20px;
	padding-bottom: 126px;
}

.page[data-page=consultations] .consul{
	padding:15px;
	border: solid 1px #e6e6e6;
	border-radius: 8px;
	margin-bottom:10px;
}

.page[data-page=consultations] .status{
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #2b9e48;
	margin-bottom:5px;
	line-height:11px;
	text-transform:uppercase;
}

.page[data-page=consultations] .description{
	width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px 0;
    margin-top: -5px;
}

.page[data-page=consultations] .status.cancelled{
	color:#9f2b2b;
}

.page[data-page=consultations] .status.finished{
	color:#0b6097;
}

.page[data-page=consultations] .type{
	font-size: 15px;
	line-height:18px;
	font-weight: bold;
	color: #333333;
	margin-bottom:12px;
}

.page[data-page=consultations] .messages{
	background-image:url(../img/Icons/consultations-messages.svg);
	background-position:left center;
	background-repeat:no-repeat;
	background-size:contain;
	padding-left:18px;
	font-size: 12px;
	font-weight: bold;
	color: #676767;
	line-height:12px;
	height:12px;
}

.page[data-page=consultations] .num{
	font-size: 12px;
	color: #676767;
	line-height:12px;
	float:right;
	height: 12px;
	    margin-top: -12px;
}

.page[data-page=consultations] .date{
	float: right;
	font-size: 12px;
    color: #676767;
    line-height: 12px;
}

.page[data-page=consultations] .bottom{
	position:fixed;
	bottom:70px;
	text-align:center;
	width:100%;
	z-index: 99;
}

.page[data-page=consultations] .template{
	display:none;
}

.page[data-page=consultations] .noConsultations{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 18px;
	color: #676767;
	background: white;
	z-index: 999;
	display: none;
}

.page[data-page=consultations] .noConsultations img{
	width: 100px;
}

.page[data-page=consultations] .noConsultations p{
	font-size: 18px;
	line-height: 24px;
}

.page[data-page=consultations] .getcons.animated{
	animation: shake 5s infinite ease-in-out;
}

.newmessagescount{
    height: 16px;
    width: 16px;
    line-height: 16px;
    font-size: 10px;
    /* padding: 0px; */
    margin: 0;
    /* position: absolute; */
    top: 0px;
    right: 16px;
    background-color: #ff9900;
    color: white;
    border-radius: 14px;
    display: inline-block;
    /* padding: 0 5px; */
    text-align: center;
}