.page[data-page=enter] .logo img{
	height:50px;
	margin:40px auto;
	margin-bottom:0;
}

.page[data-page=enter] .logo{
	height:80px;
	text-align:center;
}

.page[data-page=enter] p{
	margin:0;
	font-family: OpenSans;
	font-size: 17px;
	line-height:26px;
	color: #333333;
	margin:0;
	text-transform:none;
}

.page[data-page=enter] .bottom{
	height:170px;
	text-align:center;
	background-color:#e6e6e6;
	display:table;
	width:100%;
}

.page[data-page=enter] .bottom p{
	color:#676767;
	font-size:14px; 
	line-height:20px;
}

.page[data-page=enter] .bottom .button{
	margin: 15px auto;
    min-width: 150px;
}

.page[data-page=enter] .bottom .wrapper, .page[data-page=enter] .content .wrapper{
	display:table-cell;
	vertical-align:middle;
}

.page[data-page=enter] .content{
	height:calc(100% - 80px - 170px);
	text-align:center;
	display:table;
	padding:0 30px;
}

.page[data-page=enter] .bottom .wrapper{
	display:table-cell;
	vertical-align:middle;
	padding: 15px 0;
}

.page[data-page=enter] .button.orange{
	margin-top:20px;
}

