.clear {  
  display: table;
  clear: both;
}

.green-checkbox input {
  display: none;
}

.green-checkbox input:checked~.box:after {
  display: block;
}

.green-checkbox input:disabled~.box {
  opacity: .3;
}

.green-checkbox > .box {
  box-sizing: border-box;
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid #2b9e48;
  background: #fff;
}

.green-checkbox > .box:after {
  content: '';
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url('../img/checked.svg') center center no-repeat;
  background-size: 12px;
}

/* Buy page */
.promo {
  margin-top: 5px;
  margin-bottom: 10px;
}

.promo .promo__checkbox {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* New Chat Page*/

.js-audio-player * {
  opacity: 1;
}

.js-audio-player {
  pointer-events: none;
  opacity: .5;
}

.js-audio-player.active {
  pointer-events: all;
  opacity: 1;
}

/* CHAT STATUSBAR */

.messages-auto-layout {
  padding-top: 50px;  
  height: 100%;
  overflow: auto;
  padding-bottom: 0;
}

.chat-overwrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: transparent;
  pointer-events: none;
  width: 100%;
  height: calc(100% - 44px);
  top: 44px;
  bottom: 44px;
  z-index: 10000;
}

.chat-statusbar {
  /* PROPS */  
  overflow: hidden;
  /* SIZE */
  width: 100%;
  height: 52px;
  /* PLACE */
  top: 44px;
  /* STYLE CONTENT */
  background: rgba(255, 255, 255, 1);  
  /* ANIMATION */
  transition: all .5s ease;
  font-family: 'OpenSans', sans-serif;
  border-bottom: solid 1px #e6e6e6;
  /* padding-bottom: 50px;   */
  box-sizing: border-box;
  pointer-events: all;  
  -webkit-overflow-scrolling: touch;
}

.chat-statusbar__fixed {
  background: transparent url('../img/Icons/common-info.svg') no-repeat right 10px center;  
}

.chat-statusbar.opened {
  overflow: auto;
  height: 100%;
  /* flex-grow: 1; */
}

.chat-statusbar__block {
  padding: 10px;
}

.chat-statusbar__label, 
.chat-feedback__label {
  margin: 0;
  font-size: 10px;
  line-height: 14px;
  color: #676767;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.chat-statusbar__value {
  margin: 0;
  font-size: 13px;  
  line-height: 15px;  
  color: #000000;
}

.chat-statusbar__value_bold {
  font-weight: bold
}

.star-rate {
  display: flex;  
}

.star-rate__star {
  background-image: url(../img/Icons/consultation-star-empty.svg);  
  width: 30px;
  height: 30px;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.star-rate__star.active {
  background-image: url(../img/Icons/consultation-star-filled.svg);
}

.chat-feedback {  
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
  margin-top: auto;
  background: #fff;
  pointer-events: all;  
  position: relative;
  height: 215px;
  overflow: auto;
  padding: 0 0 20px
}

.chat-feedback:before {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  content: '';
  top: 0px;
}

.chat-feedback__button {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0 20px;
  margin: 0 auto;  
  border: 2px solid #2b9e48;  
  border-radius: 40px;
  color: #2b9e48;
  font-size: 14px;  
  text-decoration: none;
  text-align: center;  
  letter-spacing: 0px;
  font-weight: normal;  
}

.chat-feedback__block {
  padding: 5px 10px;
}

[data-page="chat"] .messages-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-handlers {
  position: absolute;
  bottom: 44px;
  width: 100%;  
  box-sizing: border-box;
  padding: 10px 10px 20px;
}

.js-chat-cancel,
.js-chat-resume {
 
}

.js-chat-messages {
  padding-left: 10px;
  padding-right: 10px;
}

.js-chat-messages .message {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-shrink: 0;
  position: relative;
  margin-top: 10px;
} 

.js-chat-messages .message:last-child {
  margin-bottom: 100px;
}

.js-chat-messages .message .message-text {
  min-height: auto;
}


.js-chat-messages .message-first .message-name {
  display: none;
}

.js-chat-messages .message-last .message-name {
  display: block;
}

.js-chat-messages .message:after {
  margin: 0;
  position: absolute; 
  bottom: 21px;
}

.js-chat-messages .message-received {  
  margin-left: 10px;
}

.js-chat-messages .message-received .message-text {
  order: 1
}

.js-chat-messages .message-received .message-name {
  order: 2;
  margin: 5px 0 0;
}

.js-chat-messages .message-received:after {
  left: -10px;
}

.js-chat-messages .message-sent {  
  margin-right: 10px;
}

.js-chat-messages .message-sent:after {
  right: -10px;
}

.js-chat-messages .message-sent .message-label {
  margin: 5px 0 0;
}

.js-chat-page-content {
  /* transition: height .2s ease; */
  height: 100%;
  padding-bottom: 20px;
}

.js-chat-page-content.short {
  height: calc(100% - 170px)
}

#commentMessage::placeholder {
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* Tezaurus */
.js-category {
  padding: 15px;
}

.js-category * {
  pointer-events: none;
}

.tezSearch {
  
}

.tezSearch__input {
  padding: 20px 20px 0;
}

.tezSearch__input input {
  height: 42px;  
  border: 2px solid #2d9f50;
  border-radius: 42px;  
  font-size: 14px;
  color: #2d9f50;
  text-indent: 20px;
  display: block;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background: url(../img/Icons/search.svg) no-repeat right 15px center;
  padding-right: 40px;
  background-size: 20px;
}

.tezSearch__results .question {  
  padding: 10px 20px !important;
}

@media (min-height: 700px) {
  .toolbar {
    height: 60px;    
  }

  .toolbar-inner {
    padding-bottom: 8px;
  }
}

.fix-file-input {
  position: relative;
  display: inline-block;
}

.fix-file-input__item:not(:last-child) {
  margin-bottom: 10px;
}

.fix-file-input__list {
  padding: 0;
  list-style: none;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  line-height: 18px;
}

.fix-file-input__title {
  max-width: 190px;
  display: inline-block;
  vertical-align: middle;
}

.fix-file-input__remove {
  margin-left: 10px;
  display: inline-block;  
  width: 35px;
  height: 35px;
  vertical-align: middle;
  background: url('../img/settings-user-remove.svg') center center no-repeat;
  background-size: contain;
}

.fix-file-input__src {
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.fix-file-input__btn {
  position: relative;
}