.navbar{
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
	height: 56px;
}

.page-content .wrapper:first-of-type{
	padding-top: 30px;
}

.messages{
	margin-top: 20px;
}

.page[data-page=cards] .swiper-container3{
	box-shadow: 0 2px 4px 0px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.page[data-page=buy] .page-content{
	padding-top: 64px;
}

.page[data-page=anketa] .page-content{
	padding-top: 54px;
}

.page[data-page=enter] .wrapper {
	padding: 0;
}

.page[data-page=consultation] .wrapper, .page[data-page=get_consultation] .wrapper{
	padding-top: 10px;
}

i.icon.icon-back, .navbar .exit, .buyCards{
	/*width: 40px;*/
}

.window{
	top: 0;
}

.toolbar a.menu p{
	letter-spacing: 0;
}

.page[data-page=cards] .swiper-container3{
	padding:60px 0 20px 0;
}

.page[data-page=cards] .page-content{
	margin-top: 250px;
}

.page[data-page=cards] .wrapper{
	padding-bottom: 90px;
}

.navbar.navbar-hidden{
	transform:translate3d(0,-100px,0);
}

.page[data-page=cards] .buyNewCardMessage{
	position: fixed;
    top: 250px;
}

#newyear{
	height: 56px !important;
}

.chat-statusbar {
	height: 62px;	
}

.chat-statusbar__fixed {
	padding-top: 10px;
}
