.page[data-page=login] .logo img{
	height:50px;
	margin:40px auto;
	margin-bottom:0;
}

.page[data-page=login] .logo{
	height:80px;
	text-align:center;
}

.page[data-page=login] .content{
	height:calc(100% - 80px - 170px);
	text-align:center;
	display:table;
	width:100%;
}

.page[data-page=login] .title{
	position:absolute;
	font-size: 15px;
	color: #aaaaaa;
	margin-top:17px;
	transition: all 0.3s ease-out;
	z-index:-1;
}

.page[data-page=login] .title.active{
	position:absolute;
	font-size: 12px;
	font-weight: bold;
	color: #676767;
	margin-top:0;
}

.page[data-page=login] input:not([type="submit"]){
	font-size:15px;
	line-height:30px;
	color:#33333333;
	font-weight:bold;
	border:0;
	width:100%;
	border-bottom:solid 2px #e6e6e6;
	margin-top:12px;
	margin-bottom:10px;
	background:rgba(0,0,0,0.00);
}

.page[data-page=login] input[type="submit"]{
	margin-bottom: 50px;
}

.page[data-page=login] input.active{
	border-bottom:solid 2px #2b9e48;
}

.page[data-page=login] input.error{
	border-bottom:solid 2px red;
}

.page[data-page=login] .hint{
	font-size: 12px;
	line-height:22px;
	font-weight: bold;
	color: #e73636;
	margin-top:-10px;
	display:none;
}

.page[data-page=login] .form{
	width:240px;
	margin:30px auto;
	margin-bottom:0;
	text-align:left;
}

.page[data-page=login] .form.error{
	border-bottom:2px solid #e63636;
}

.page[data-page=login] .hint{
	font-size:11px;
	line-height:16px;
	color:#e63636;
	width:240px;
	/*margin:0 auto;*/
	font-weight:bold;
	text-align:left;
	display:none;
}

.page[data-page=login] p{
	font-size:15px;
	color:#2b9e48;
	margin:30px 0;
	font-weight:bold;
}

.page[data-page=login] .bottom{
	height:170px;
	text-align:center;
	background-color:#e6e6e6;
	display:table;
	width:100%;
}

.page[data-page=login] .bottom .button{
	margin: 10px auto;
}

.page[data-page=login] .bottom .wrapper, .page[data-page=login] .content .wrapper{
	display:table-cell;
	vertical-align:middle;
	padding: 0 !important;
}

@media 
  	only screen and (max-height: 480px) 
{

	.page[data-page=login] .bottom{
		height: 140px;
	}

	.page[data-page=login] .content {
	    height: calc(100% - 80px - 140px);
	}

	.page[data-page=login] input[type="submit"]{
		margin-bottom: 15px;
	}

	.page[data-page=login] p{
		margin: 10px 0;
	}
}