/*
body{
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}
*/
/*
#mainToolbar{
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
}
*/

.hidden_by_keyboard{
	display: none !important;
}

.hideit{
	display: none !important;
}

.popup-tezaurus .answer p, .popup-nostradamus .answer p{
	font-size: 14px;
}

.audio_player{
	height: 50px;
	width: 50px;
    margin-right: 15px;
	opacity: 0.5;
}

.button:not(.tab-link){
	height:40px;
	border:2px solid #2b9e48;
	line-height:40px;
	padding:0 20px;
	color:#2b9e48;
	font-family: OpenSans;
	font-size: 14px;
	display:table;
	border-radius:40px;
	box-sizing:border-box;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	margin:0 auto;
	-webkit-appearance:none;
    letter-spacing: 0px !important;
    font-weight: normal;
}

.message-sent .message-label{
	margin: 0;
	margin-bottom: 15px;
	display: block;
}

.modal-button{
	color: #2b9e48;
	background-color: rgba(0,0,0,0.00);
	height: 60px;
	line-height: 60px;
	font-size: 18px;
}

.modal-button:after{
	color: #e6e6e6;
	width: 3px;
	height: 40px;
	margin-top: 10px;
}

.modal-inner{
	padding-bottom: 10px;
}

.modal-inner:after{
	height: 0 !important;
	color: #e6e6e6;
	opacity: 0 !important;
}

.modal-buttons{
	padding-bottom: 20px;
	background: rgba(255,255,255,.95);
	height: 40px;
}

.actions-modal.modal-in{
}
.actions-modal-group, .actions-modal-button.color-red{
	border-radius: 0;
}
.actions-modal-label{	
	font-size: 12px;
	line-height:14px;
	font-weight: bold;
	color: #676767;
	text-transform:uppercase;
	letter-spacing: 1px;
	text-align:center;
	background: none;
	min-height: auto;
	padding: 0;
	margin-bottom: 20px;
}
.actions-modal-button{
	background: none;
	padding: 0;
    border-bottom: solid 1px #e6e6e6;
	font-size: 16px;
	line-height: 50px;
	height: auto;
	color: black;
}
.actions-modal-button:after, .actions-modal-label:after{
	display: none;
}
.actions-modal-group{
	background-color: rgba(255,255,255,.95);
	border-radius: 13px 13px 0 0;
	padding: 20px 20px 0 20px;
	margin: 0 20px;
	box-shadow: 0 2px 15px 3px rgba(0,0,0,0.1);
}
.actions-modal-button:last-child{
	border-bottom: 0px;
	color: #2b9e48;
	font-weight: normal;
	line-height: 80px;
	font-size: 18px;
}

.listview{
	margin: 20px;
    position: fixed;
    top: 0px;
    left: 0;
    border-radius: 16px;
    background-color: rgba(255,255,255,.95);
    padding: 20px;
    z-index: 9999;
    width: calc(100% - 80px);
    box-shadow: 0 2px 15px 3px rgba(0,0,0,0.1);
	height: calc(100% - 80px);
	overflow: hidden;
	display: none;
}
.listview .caption{
	font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #676767;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.listview .item{
	background: none;
    padding: 10px 0;
    border-bottom: solid 1px #e6e6e6;
    font-size: 16px;
    line-height: 16px;
    height: auto;
    color: black;
}
.listview .wrapper{
	height: calc(100% - 30px);
	overflow-y: scroll; 
  	-webkit-overflow-scrolling: touch;
}
.listview .section{
	font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #2b9e48;
    text-transform: uppercase;
	margin-top: 20px;
}

.listview .closeListview{
	float: right;
	height: 22px;
	width: 22px;
}

input, select, textarea{
	-webkit-appearance: none;
	padding: 0;
	border-radius: 0;
}

input:not([type=submit]), select, textarea{
	color: black !important;
}

.navbar a.link, .navbar .right{
	padding: 0 10px;
}

.button.withfile{
	background-image: url(../img/Icons/chat-attach.svg);
	background-size: 14px;
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 30px;
}

.closeCaller{
	height: 30px;
	width: 30px;
	margin: 15px;
	position: absolute;
	right: 0;
	top: 0;
}

.button.orange{
	border:0;
	background-color:#ff9900;
	color:white;
}

.button.big{
	height:50px;
	line-height:50px;
	font-size:18px;
	padding:0 25px;
	min-width:240px;
	font-weight:normal;
	    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.page{
	background:white;
}

html.ios-gt-8 .navbar .center{
	font-weight:normal;
}

i.icon.icon-back{
	background-image:url(../img/Icons/nav-back.svg);
	width:20px;
	background-size: contain;
	/*width: 40px;*/
}

.navbar{
	background-image: linear-gradient(to left, #1aa4a4, #2b9e48);
	box-shadow: 0 1px 0 0 #248f3f;
	border:0;
	color:white;
}
.navbar:after{
	display:none;
}

.popup-call .content-block, .popup-pin .content-block{
	text-align:center;
	height:calc(100% - 70px);
}

.popup-call .holder, .popup-pin .holder{
	height:100%;
	width:100%;
}

.popup-call .holder td, .popup-pin .holder td{
	vertical-align:middle;
	text-align:center;
}

.popup-call .caller, .popup-pin .caller{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#2b9f49;
	max-width:320px;
	margin: 0 auto; 
	text-align:center;
}

.popup-call .caller .callbutton, .popup-pin .caller .callbutton{
	height:72px;
	width:72px;
	border-radius:50px;
	border:2px solid #2b9f49;
	font-size:36px;
	line-height:32px;
	text-align:center;
	padding:0;
	display:inline-block;
	margin:8px;
	transition: all 0.1s ease-in-out;
	box-sizing: border-box;
}

.popup-call .caller .callbutton.dtmf{
	opacity: 0.5;
	transition: all ease-in-out 0.3s;
}

.popup-call .caller .callbutton.dtmf.touchable{
	opacity: 1.0;
}

.popup-call .caller .callbutton.active{
	background-color: rgba(43, 159, 73, 0.49);
}

.popup-call .caller .callbutton .number{
	font-size:38px;
	line-height:38px;
	margin-top:calc(50% - 27px);
}

.popup-call .caller .callbutton .letters{
	font-size:13px;
	line-height:10px;
}

.popup-call .caller .callbutton p{
	font-size:14px;
	margin:0;
	padding:0;
}


.popup-pin{
	background: linear-gradient(to bottom, #2b9e49, #2f46a0);
}

.popup-pin .caller .callbutton{
	padding-top: 18px;
    border-color: white;
    color: white;
	transition: all ease-out 0.05s;
}

.popup-pin .caller .callbutton.active{
	background: rgba(255,255,255,0.55);
}

.popup-pin .pinnums{
	
}

.popup-pin .pinnums .pindot{
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 14px;
	border: 2px solid white;
    margin: 6px;
    box-sizing: border-box;
}
.popup-pin .pinnums .pindot.active{
	background: white;
}

.popup-pin .holder td{
	font-size: 18px;
}

#connectToSipButtonDiv {
	height: 72px;
    width: 72px;
    display: inline-block;
    padding: 0;
    margin: 8px;
	border: 0;
}

#connectToSipButtonDiv div.endCall{
	background-color: #f53333 !important;
	border-color: #f53333 !important;
}

#earphone, #keyboard{
	height: 72px;
    width: 72px;
    border-radius: 50px;
    border: 2px solid #2b9f49;
    font-size: 36px;
    line-height: 32px;
    text-align: center;
    padding: 0;
    display: inline-block;
    margin: 8px;
    transition: all 0.1s ease-in-out;
    box-sizing: border-box;
	
	background-image:url(../img/ear.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 37%;
	overflow: hidden;
	
	position: static;
	visibility: visible;
}

#keyboard{
	background-image: url(../img/call-keyboard.svg);
}

#speaker, #voicetarget{
	height: 72px;
    width: 72px;
    border-radius: 50px;
    border: 2px solid #2b9f49;
    font-size: 36px;
    line-height: 32px;
    text-align: center;
    padding: 0;
    display: inline-block;
    margin: 8px;
    transition: all 0.1s ease-in-out;
    box-sizing: border-box;
	
	background-image:url(../img/Icons/call-speaker-on.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 42%;
	overflow: hidden;
}

.popup-call .caller .callbutton{
	
}

.popup-call .caller .devider{
	height:25px;
}

.popup-call .logo{
	height:50px;
	margin:0 0 30px 0;
}


.popover{
	/*left: 0 !important;*/
	width: 310px;
}

.popover-inner .content-block{
	margin: 15px 5px;
	font-size: 14px;
}

.popover-angle.on-bottom{
	/*margin-left: 5px;*/
}

.toolbar a.menu{
	text-align:center;
	font-size:10px;
	line-height:18px;
	font-weight:bold;
	color:#333333;
	width:calc(20% - 1px);
}

.toolbar a.menu.active{
	color:#2b9e48;
}

.toolbar a.menu p{
	margin:0;
	line-height:11px;
	margin-top:0px;
	letter-spacing: -1px;
}

.toolbar a.menu img{
	height:25px;
}

.toolbar{
	box-shadow: 0 -1px 0 0 #e0e0e0;
}

input[type=button].button, input[type=submit].button{
	width:auto;
}

.navbar.navbar-hidden{
	transform:translate3d(0,-90px,0);
}

.toolbar{
	height:52px;
	background:white;
}

.toolbar:before{
	display:none;
}

.navbar .exit{
	background-image:url(../img/Icons/nav-quit.svg);
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	height:20px;
	width:20px;
	/*width:40px;*/
}

.navbar{
	box-shadow:none;
}

.bg{
	background:rgba(0,0,0,0.4);
	position:fixed;
	top:-50px;
	left:0px;
	width:100%;
	height:calc(100% + 50px);
	z-index:9998;
	display:none;
}

.bg.shown{
	background:rgba(0,0,0,0.75);
}

.statusBarBg{
	background:rgba(0,0,0,0);
	position:absolute;
	top:0px;
	left:0;
	width:100%;
	height:calc(100% + 0px);
	z-index:9998;
	transition: all 0.3s ease-in-out;
}

.statusBarBg.shown{
	background:rgba(0,0,0,0.75);
}

.modal{
	border-radius: 16px;
	box-shadow:0 2px 15px 3px rgba(0,0,0,0.1);
	background: rgba(255, 255, 255, 0.95);
	width: 300px;
	margin-left: -150px;
}

.modal .modal-title{
	font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #676767;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.modal .modal-text{
	font-size: 14px;
}

.modal .modal-button.modal-button-bold{
    color: #2b9e48;
    padding: 0;
	font-weight: normal !important;
}

.window{
	margin:20px;
	position:fixed;
	top:22px;
	left:0;
	border-radius: 16px;
  	background-color: #ffffff;
	padding:20px;
	z-index:9999;
	width:calc(100% - 80px);
	box-shadow: 0 2px 15px 3px rgba(0,0,0,0.1);
	display: none;
	/*margin-top: 70px;*/
}

.window.closed{
	/*display:none;*/
}

.window .hint{
	font-size: 12px;
	line-height:14px;
	font-weight: bold;
	text-align: left;
	color: #e63636;
	display:none;
	margin-top: -5px;
    margin-bottom: 5px;
}

.window .caption{
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	color: #676767;
	margin-bottom:15px;
	text-transform:uppercase;
}

.window .button{
	height:40px;
	line-height:40px;
	font-size: 18px;
	font-weight:normal;
	text-align: center;
	/*background:none;*/
	border:0;
	box-sizing: border-box;
	border-radius:0;
	margin-top:10px;
}

.window .button.left{
	color: #2b9e48;
	width:49%;
	border-right:solid 1px #e6e6e6;
	display:inline-block;
	padding:0;
}

.window .button.right{
	color: #ff9900;
	width:49%;
	display:inline-block;
	padding:0;
}

.window input, .window textarea{
	font-size:15px;
	line-height:30px;
	color:#33333333;
	font-weight:bold;
	border:0;
	width:100%;
	border-bottom:solid 2px #e6e6e6;
	margin-top:12px;
	margin-bottom:10px;
	background:rgba(0,0,0,0.00);
	transition: all 0.3s ease-out;
}

.window textarea{
	font-size: 14px;
	line-height: 14px;
	height: 100px;
	margin-top: 20px;
}

.window input.active, .window textarea.active{
	border-bottom:solid 2px #2b9e48;
}

.window input.error, .window textarea.error{
	border-bottom:solid 2px red;
}

.window .title{
	position:absolute;
	font-size: 15px;
	color: #aaaaaa;
	margin-top:17px;
	transition: all 0.3s ease-out;
	z-index:-1;
}

.window .title.active{
	position:absolute;
	font-size: 10px;
	font-weight: bold;
	color: #676767;
	margin-top:0;
	text-transform:uppercase;
}

.selectmenu{
	position:fixed;
	bottom:-2000px;
	border-top-right-radius:16px;
	border-top-left-radius:16px;
	background:#ffffff;
	padding:20px;
	z-index:9999;
	width:calc(100% - 80px);
	margin:0 20px;
	transition: all 0.3s ease-out;
}

.selectmenu .sbcard{
	padding:15px 0;
	border-bottom:solid 1px #e6e6e6;
}

.selectmenu .sbcard img{
	float:left;
	margin:0 20px 0 0;
	width:50px;
}

.selectmenu .sbcard .cardnum{
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	line-height:18px;
}

.selectmenu .sbcard .tarif{
	font-size: 12px;
	color: #676767;
	line-height:15px;
}

.selectmenu .title{	
	font-size: 12px;
	line-height:14px;
	font-weight: bold;
	color: #676767;
	text-transform:uppercase;
	margin-bottom:5px;
	letter-spacing: 1px;
	text-align:center;
}

.selectmenu .button{
	border:0;
	margin-top:20px;
	font-size:18px;
	border-radius:0;
	font-weight: normal;
}

.selectmenu.active{
	bottom:0 !important;
}

.selectmenu .template{
	display:none;
}

.showPreloader{
	text-align:center;
}

.loadingScreen{
	position:fixed;
	z-index:9999;
	/*background-color:rgba(0,0,0,0.5);*/
	width:100%;
	height:calc(100% + 0px);
	top:0px;
	left:0;
	display:none;
}

.loadingScreen .wrapper{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.loadingScreen .shadow{
	display: inline-block;
	background-color:rgba(0,0,0,0.75);
	padding: 10px 10px 6px 10px;
	box-shadow:  0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	border-radius: 9px;
}

.loadingScreen .preloader{
	width:30px;
	height:30px;
}

.statusbar-overlay{
	background-image: linear-gradient(to left, #1aa4a4, #2b9e48);
	z-index: 999;
}

.statusbar-overlay.white{
	background:white;
}

.message-received.message-last .message-text, .message-received.message-with-tail .message-text
	-webkit-mask-box-image: none;
}

.message-sent.message-last .message-text, .message-sent.message-with-tail .message-text{
	-webkit-mask-box-image: none;
}

.toolbar.messagebar{
	height: 44px;
	transition: all ease-in-out 0.3s;
}

.message .message-text img{
	margin-top: 5px;
}

.message .message-text img.clip{
	height: 30px;
    width: 20px;
    display: block;
    /*margin: 0 auto;*/
    margin-top: 5px;
	
}

.subnavbar{
	background-image: linear-gradient(to left, #1aa4a4, #2b9e48);
}

.subnavbar .button{
	color: white;
	border-color: white;
}

.subnavbar .button.active{
	background: white;
	color: #2b9e48;
	border-color: white;
}

.zastavka{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	transition: all linear 3s;
	transform: translate3d(0,0,0);
}

.zastavka.day{
	background-image: linear-gradient(to bottom, #44b4e6, #ffffff);
}

.zastavka.day .sun{
	background: #ffe788;
	height: 60px;
	width: 60px;
	position: absolute;
	left: calc(50% - 30px);
	top: 120px;
	border-radius: 60px;
	box-shadow: 0 0px 50px #ffe788;
}

.zastavka.day .sun:nth-of-type(1){
	animation: daysun 6s linear 0s infinite;
}

.zastavka.day .sun:nth-of-type(2){
	animation: daysun 6s linear 3s infinite;
}

.zastavka.day .sun:nth-of-type(3){
	animation: daysun 6s linear 6s infinite;
}

.zastavka.day .sun:nth-of-type(4){
	
}

.sun_offset, .moon_offset{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	transform-origin: bottom center;
	transform: rotate3d(0,0,1,-30deg);
	transition: all ease-out 3s;
}

.zastavka.morning{
	background-image: linear-gradient(to bottom, #1b2392, #4a70ce 34%, #fdd09d 85%, #f0d7be);
}

.zastavka .name{
	font-size: 30px;
	line-height: 34px;
	color: white;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	margin-bottom: 50px;
}

.zastavka .name p{
	margin: 0;
}

.zastavka .stars{
	background-image: url(../img/welcome-stars.svg);
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.zastavka .city{
	height: 230px;
	position: absolute;
	bottom: 0;
	background-size: cover;
	background-position: center;
	width: 100%;
	
}

.zastavka.evening{
	background-image: linear-gradient(to bottom, #11197b, #fda99d);
}
.zastavka.morning{
	background-image: linear-gradient(to bottom, #1b2392, #4a70ce 34%, #fdd09d 85%, #f0d7be);
}
.zastavka.night{
	background-image: linear-gradient(to top, #5d2ab6, #311b92);
}

.moon{
	height: 30px;
	width: 30px;
	position: absolute;
	top: 120px;
	left: calc(50% - 15px);
	border-radius: 30px;
	background-image: radial-gradient(circle at -17% 33%, #ffffff, #d1c4e9 81%, #9372cf);
  	box-shadow: 0 0 39px 1px #d3c9ff;
}

.label-switch input[type="checkbox"]:checked + .checkbox{
	background: #2b9e48;
}

.list-block .list-button{
	color: #2b9e48;
}

.winter{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: white;
	z-index: 99999;
	display: none;
}

.winter .up{
	position: absolute;
	top: 0;
	left: 0;
	height: 533px;
	background-image: url(../img/newyear-bg.svg);
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	text-align: center;
}

.winter .bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	height: calc(100% - 533px);
	display: table;
	width: 100%;
}

.winter .bottom .wrap{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.winter .text{
	color: white;
	font-size: 18px;
	line-height: 22px;
	padding: 0 30px;
}

.pull-to-refresh-layer{
	position: absolute;
    position: relative;
    margin-top: -20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
}

.popup .answer p{
	text-align: left !important;
	font-size: 14px !important;
}

.consultations-count{
	height: 16px;
    width: 16px;
    line-height: 16px;
    font-size: 10px;
    padding: 0px;
    margin: 0;
    position: absolute;
    top: 0px;
    right: 16px;
    background-color: #ff9900;
    color: white;
    border-radius: 14px;
}

.popup.promo .promologo{
	height: 50px;
	margin: 0px;
}
.popup.promo .promoclose{
	height: 20px;
	width: 20px;
	float: right;
	margin: 15px;
	margin-bottom: 0;
}
.popup.promo .confiti{
	background-image: url(../img/promo-confetti.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.popup.promo .confiti img{
	height: 118px;
	margin: 70px auto;
	margin-bottom: 0;
}
.popup.promo {
	text-align: center;
	font-size: 18px;
	color: #333333;
}
.popup.promo .button{
	margin: 30px auto;
}

body{
	top: 0px !important;
	padding: 0 !important;
	margin: 0 !important;
}

.popup-pin, .popup-call, .popup.promo{
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    bottom: 0 !important;
    top: 0px !important;
}

.navbar, .page[data-page=cards] .swiper-container3, .subnavbar{
	background: #2b9e48 !important;
}

@media 
  	only screen and (max-height: 570px) 
{
	.popup-call .logo{
		margin:0 0 0px 0;
	}

	.popup-pin .logo{
		height: 40px;
	}

	.winter .up{
		height: 483px;
	}

	.winter .bottom{
		height: calc(100% - 483px);
	}

	.popup-call .caller .callbutton, .popup-pin .caller .callbutton {
	    height: 57px;
	    width: 57px;
	    border-radius: 50px;
	    border: 2px solid white;
	    font-size: 36px;
	    line-height: 52px;
	    text-align: center;
	    padding: 0;
	    display: inline-block;
	    margin: 8px;
	    transition: all 0.1s ease-in-out;
	    box-sizing: border-box;
	}
}


@media 
  	only screen and (max-height: 480px) 
{
	.popup-call .logo{
		display: none;
	}
	
	.popup-call .content-block{
		margin-top: 20px;
	}
	
	.popup-call .caller .callbutton, #earphone, #connectToSipButtonDiv, #connectToSipButtonDiv div, #speaker{
		height: 65px !important;
		width: 65px !important;
	}

	.winter .up{
		height: 413px;
	}

	.winter .bottom{
		height: calc(100% - 413px);
	}

	.winter .up img:first-of-type{
		display: none;
	}
}

/*iphone x
@media only screen
and (max-height : 812px)
and (max-width : 375px)
and (-webkit-device-pixel-ratio : 3)
{
    
    .views, .view, .popup, .login-screen{
        padding-bottom: 20px;
    }
    
    .actions-modal-button:last-child{
        padding-bottom: 20px;
    }
    
    .popup-tezaurus, .popup-nostradamus, .popup-services{
        height: calc(100% - 20px);
    }
    
    #mainToolbar{
        bottom: 20px;
    }
    
    .toolbar.toolbar-hidden, .tabbar.toolbar-hidden, .toolbar.tabbar-hidden, .tabbar.tabbar-hidden{
        transform: translate3d(0, 150%, 0);
    }
 
    .popup-pin{
        background: linear-gradient(to bottom, #2b9e49, #2f46a0);
    }
    
    .selectmenu .button{
        padding-bottom: 20px;
    }

    body{
        padding-bottom: 0;
    }
    
    .view{
        padding-bottom: 20px;
    }
    
    .view[data-page="login"], .view[data-page="anketa"], .view[data-page="enter"], .view[data-page="chat"]{
        padding-bottom: 0;
    }

    .toolbar.messagebar{
    }

    .toolbar.messagebar .toolbar-inner{
    }

    .navbar, .page[data-page=cards] .swiper-container3, .subnavbar{
    	background: #2b9e48 !important;
    }
}
*/
