.page[data-page=news] .wrapper{
	padding:20px;
	padding-bottom: 60px;
}

.page[data-page=news] .title{
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	line-height:20px;
}
.page[data-page=news] .content{
	font-size: 14px;
	line-height:16px;
	color: #333333;
}
.page[data-page=news] .preview{
	margin:0 -20px;
	width:calc(100% + 40px);
}
.page[data-page=news] .time{
	font-size: 12px;
	color: #676767;
	line-height:30px;
	margin-bottom:10px;
}
.page[data-page=news] .wrapper .content p{
	/*text-align: justify;*/
	font-size: 16px;
	line-height: 18px;
}
.page[data-page=news] .title{
	font-size: 16px;
}
.page[data-page=news] .wrapper{
}
.page[data-page=news] .wrapper{
}