.page[data-page=profile] div{
	position: static;
}

.page[data-page=profile] .wrapper{
	padding:20px;
	padding-bottom: 72px;
}

.page[data-page=profile] input{
	font-size:15px;
	line-height:30px;
	color:#33333333;
	font-weight:bold;
	border:0;
	width:100%;
	border-bottom:solid 2px #e6e6e6;
	margin-top:12px;
	margin-bottom:10px;
	background:rgba(0,0,0,0.00);
}

.page[data-page=profile] .radiooption{
	font-size:15px;
	line-height:30px;
	color:#33333333;
	font-weight:bold;
	border:0;
	width:100%;
	border-bottom:solid 1px #e6e6e6;
	background:rgba(0,0,0,0.00);
	padding: 6px 0;
}

.page[data-page=profile] .radiooption.active{
	background-image: url(../img/checked.svg);
	background-size: 20px;
	background-position: right center;
	background-repeat: no-repeat;
}

.page[data-page=profile] .title{
	position:absolute;
	font-size: 15px;
	color: #aaaaaa;
	margin-top:17px;
	transition: all 0.3s ease-out;
	z-index:-1;
}

.page[data-page=profile] .title.active{
	position:absolute;
	font-size: 10px;
	font-weight: bold;
	color: #676767;
	margin-top:0;
	text-transform:uppercase;
	letter-spacing: 1px;
	
	position: static;
	margin-bottom: -15px;
}
.page[data-page=profile] .hint{
	font-size: 12px;
	line-height:22px;
	font-weight: bold;
	color: #e73636;
	margin-top:-10px;
	display:none;
}

.page[data-page=profile] .divider{
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #676767;
	background-color:white;
	display:table;
	line-height:20px;
	text-transform:uppercase;
	letter-spacing: 1px;
	margin:-10px auto;
	padding:0 10px;
	margin-bottom:10px;
}

.page[data-page=profile] .line{
	background: #e6e6e6;
	height:1px;
	margin-top:30px;
}
.page[data-page=profile] .button{
	margin:0;
}

.page[data-page=profile] .pull-to-refresh-layer{
}

.page[data-page=profile] .preloader{
	background-image:url(../img/loading_green.svg);
	background-size:contain;
	background-repeat:no-repeat;
	width:30px;
	height:30px;
}


.page[data-page=profile] .carduser{
	border-radius: 8px;
	border: solid 1px #e6e6e6;
	padding: 10px;
	margin-bottom: 20px;
	position: static;
}

.page[data-page=profile] .carduser .name{
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 55px);
    overflow: hidden;
}

.page[data-page=profile] .carduser .phone, .page[data-page=profile] .carduser .email{
	font-size: 12px;
	color: #676767;
}

.page[data-page=profile] .carduser .remove{
	float: right;
	height: 40px;
	width: 40px;
	margin-left: 15px;
}

.page[data-page=profile] .oneline .button{
	float: right;
}

.page[data-page=profile] .oneline input{
	width: calc(100% - 120px);
	border: 0;
}

.page[data-page=profile] .oneline .item-input{
	display: inline-block;
	float: right;
	margin-top: 14px;
}

.page[data-page=profile] .oneline p{
	font-size:15px;
	line-height:30px;
	color:#33333333;
	font-weight:bold;
	background:rgba(0,0,0,0.00);
	padding: 6px 0;
	border: 0;
	width: auto;
	margin: 0;
}

.page[data-page=profile] .helphint{
	background-color: #eeeeee;
	font-size: 16px;
	line-height: 22px;
	color: black;
	margin: -30px;
	padding: 20px 30px;
    padding-top: 26px;
}

.page[data-page=profile] #helptext{
	width: 100%;
    border: 0;
    border-bottom: 2px solid #e6e6e6;
    margin-top: 10px;
    resize: none;
    font-size: 16px;
    padding: 0;
    height: 150px;
}

.page[data-page=profile] .helpreply{
    font-size: 10px;
    font-weight: bold;
    color: #676767;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
	margin-top: 16px;
}

.page[data-page=profile] .reply{
	height: 36px;
    line-height: 36px;
    font-size: 16px;
    border-bottom: 2px solid #e6e6e6;
    /*font-weight: bold;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 40px;
    overflow: hidden;
}

.page[data-page=profile] .reply.checked{
	background-image: url(../img/Icons/common-check.svg);
	background-position: right center;
	background-size: 20px;
	background-repeat: no-repeat;
}

.page[data-page=profile] .bottom{
	position: fixed;
    bottom: 70px;
    text-align: center;
    width: 100%;
    z-index: 99;
}
