.page[data-page=purchase] .wrapper{
	display:table;
	height:calc(100% - 90px);
}

.page[data-page=purchase] .content{
	display:table-cell;
	vertical-align:middle;
	padding:0 30px;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #333333;
	text-align:center;
}

.page[data-page=purchase] .circle{
	height:180px;
	width:180px;
	background-color:#e6e6e6;
	border-radius:180px;
	margin:0 auto;
	margin-bottom:30px;
}

.page[data-page=purchase] .button.big{
	position:fixed;
	bottom:40px;
	left:calc(50% - 120px);
}
