.page[data-page=study] .wrapper{
	padding:20px;
	padding-bottom: 50px;
}

.page[data-page=study] .article{
	margin-bottom:10px;
	min-height:100px;
}

.page[data-page=study] .template{
	display:none;
}

.popup .exit{
  float: right;
  line-height: 0;
  height: 24px;
  padding: 10px;
    margin: -10px;
}

.page[data-page=study] .preview{
	height:80px;
	overflow:hidden;
	float:left;
	width:80px;
	background-position:center;
	background-size:cover;
	background-color:rgba(205,205,205,1.00);
	border-radius: 8px;
	margin-right:10px;
	margin-bottom: 20px;
}

.page[data-page=study] .title{
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	line-height:20px;
}

.page[data-page=study] .time{
	font-size: 12px;
	color: #676767;
	line-height:30px;
}

.page[data-page=study] #lctab2 .item{	
	border-radius: 8px;
	border: solid 1px #e6e6e6;
	margin-bottom: 10px;
}

.page[data-page=study] #lctab2 .item .title{
	font-size: 16px;
	color: #333333;
	line-height: 22px;
  text-align: left;
}

.page[data-page=study] #lctab2 .item .questions{
}

.page[data-page=study] #lctab2 .item .question, 
.page[data-page=study] #lctab2 .tezSearch__results .question {
	border-top: 1px solid #e6e6e6;
	font-size: 15px;
	padding: 10px 15px;
  text-align: left;
}

.page[data-page=study] #lctab2 .item .question:first-of-type,
.page[data-page=study] #lctab2 .tezSearch__results .question:first-of-type {
	border-top: 0px solid #e6e6e6;
  margin-top: 10px;
}

.popup-tezaurus, .popup-nostradamus{
	background-color: rgba(255,255,255,.95);
    border-radius: 13px 13px 0 0;
    padding: 20px 20px 0 20px;
    margin: 0 20px;
    box-shadow: 0 2px 15px 3px rgba(0,0,0,0.1);
    width: calc(100% - 40px);
    margin-top: 20px;
}

.popup-tezaurus .caption, .popup-nostradamus .caption{
	font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    color: #676767;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    background: none;
    min-height: auto;
    padding: 0;
    margin-bottom: 20px;
}

.popup-tezaurus .close, .popup-nostradamus .close{
	border-bottom: 0px;
    color: #2b9e48;
    font-weight: normal;
    line-height: 60px;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 80px;
    margin: 0 -20px;
}

.popup-tezaurus .holder, .popup-nostradamus .holder{
	position: absolute;
	height: calc(100% - 100px);
	top:20px;
	width: calc(100% - 40px);
	overflow-y: auto;
  overflow-x: hidden;
}

.page[data-page=study] #lctab1 .item{
	padding: 15px;
	border-radius: 8px;
	border: solid 1px #e6e6e6;
	margin-bottom: 10px;
}

.tezCategories{
  /*text-align: center;*/
}

.page[data-page=study] #lctab1 .item .title{
	font-size: 16px;
	color: #333333;
	line-height: 22px;
}

.page[data-page=study] #lctab1 .question .text{
	font-size: 10px;
  letter-spacing: 1px;
  color: #676767;
  line-height: 20px;
  text-transform: uppercase;
  margin: 5px 0;
  margin-bottom: 0;
}

.page[data-page=study] #lctab1 .question .answers .option{
	font-size: 15px;
  color: #333333;
  padding-left: 30px;
  background-image: url(../img/option.svg);
  background-position: left top;
  background-size: 20px;
  background-repeat: no-repeat;
      padding: 9px 0 9px 30px;
    line-height: 15px;
    background-position-y: 6px;
}

.page[data-page=study] #lctab1 .question .answers .option:first-of-type{
     /* margin-top: 10px;*/
}

.page[data-page=study] #lctab1 .question .text:first-of-type{
  margin-top: 15px;
}

.page[data-page=study] #lctab1 .question .answers .option p{
	margin: 0;
	    margin-left: -30px;
    padding-left: 30px;
}

.page[data-page=study] #lctab1 .question .answers .option.selected{
	background-image: url(../img/option-selected.svg);
}

.page[data-page=study] #lctab1 .subquestion {
	margin-left: 0px;
}

.page[data-page=study] #lctab1 .item .button{
	    margin: 15px 0 0 0;
}

.page[data-page=study] #lctab1 .item .empty{
	height: 40px;
    /* border: 2px solid #2b9e48; */
    line-height: 40px;
    padding: 0 20px;
    color: #2b9e48;
    font-family: OpenSans;
    font-size: 14px;
    display: inline-block;
    border-radius: 40px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    margin: 0;
    -webkit-appearance: none;
    float: right;
    /* margin-bottom: -20px; */
    margin-top: -40px;
}

.page[data-page=study] .tezCategories .item img, .page[data-page=study] .nostra .item img{
    float: left;
    /* height: 22px; */
    /* margin: 15px; */
    /* margin-right: 15px; */
    /* margin-bottom: 4px; */
    width: 32px;
    height: 32px;
    margin: -5px 10px 0 0;
}