.page[data-page=tour] .swiper-container.tour {
  height: 100%;
}

.page[data-page=tour] .swiper-container.tour .swiper-slide {
  background:#fff;
}

.page[data-page=tour] .swiper-container.tour .swiper-slide .wrapper{
	padding:130px 25px;
	height:100%;
	text-align:center;
	display:table;
}

.page[data-page=tour] .swiper-container.tour .swiper-slide .wrapper div{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.page[data-page=tour] .swiper-container.tour .swiper-slide .wrapper .icon{
	height:122px;
	margin-bottom:50px;
}

.page[data-page=tour] .swiper-container.tour .swiper-slide p{
  font-family: OpenSans;
  font-size: 18px;
  line-height:26px;
  color: #333333;
  margin:0;
  text-transform:none;
}

.page[data-page=tour] .swiper-container.tour .swiper-slide .wrapper .button{
	margin-bottom:32px;
}

.page[data-page=tour] .swiper-pagination-bullet, .page[data-page=buy] .swiper-pagination-bullet{
	background-color: rgba(43, 158, 72, 0.6);
}

.page[data-page=tour] .swiper-pagination-bullet.swiper-pagination-bullet-active, .page[data-page=buy] .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background-color:#2b9e48;
}

.page[data-page=tour] .line-block{
	position:fixed;
	bottom:60px;
	width:100%;
	text-align:center;
	z-index:99;
	height:40px;
}

.page[data-page=tour] .line-block.logo{
	position:fixed;
	top:40px;
	width:100%;
	text-align:center;
	z-index:99;
}

.page[data-page=tour] .line-block.logo img{
	height:50px;
}